body {
	background: #000;
	overflow: hidden;
	margin: 0;

	/*make it unable to select elements*/
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
}

#game_container {
	background: red;
	
	width: 100%;
	max-width: 635px;
	max-height: 480px;
	
	overflow:hidden;
	position: absolute;
	margin: auto;

	top: 0; right: 0; bottom: 0; left: 0;
}

#game {
	width: 100%;
	max-width: 635px;
	
	padding: 0;
	margin: auto;
	overflow: hidden;
	position: absolute;

	top:0 ; right: 0; bottom: 0; left: 0;
}


@font-face {
	font-family: "soyanon8";
	src: url("../font/soyanon8.ttf") format('truetype');
}
